NEXT_PUBLIC_APP_URL=https://www.acme.ai
STRAPI_API_URL=YOUR_STRAPI_API_URL
STRAPI_API_TOKEN=YOUR_STRAPI_API_TOKEN
BACKEND_URL=YOUR_BACKEND_URL
MEET_ALFRED_API_KEY=YOUR_MEET_ALFRED_API_KEY
MONGODB_URI=YOUR_MONGODB_URI