.integration__container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "area1 area1 area1"
        "area2 area3 area4"
        "area5 area5 area5"
        "area6 area6 area7"
        "area8 area9 area10"
        "area11 area11 area12"
        "area13 area13 area13"
        "area14 area14 area14";
    gap: 2.5rem;
    padding: 0.5rem;
}