
/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b0b09;
  color: #e9e9e9;
  cursor: url('../public/svg/cursor.svg') no-repeat center center;
}

/* Grid background */
.grid-background {
  position: relative;
  overflow: hidden;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(143, 138, 246, 0.21) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(143, 138, 246, 0.21) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
}

/* Custom Tailwind component styles */
@layer components {
  .btn-primary {
    @apply bg-[#ff9933] text-black font-semibold md:rounded-tl-xl rounded-lg md:rounded-none md:rounded-br-xl hover:bg-[#ff9933c4];
  }

  .btn-secondary {
    @apply rounded-lg md:rounded-none md:rounded-tl-xl md:rounded-br-xl border border-transparent hover:border hover:border-[#ffbe7d] hover:bg-[#15151e];
  }

  .btn-secondary-no-hover {
    @apply rounded-tl-xl rounded-br-xl;
  }

  .btn-secondary-with-bg {
    @apply bg-[#27272c] rounded-tl-xl rounded-br-xl hover:border hover:border-[#ffbe7d] hover:bg-[#15151e];
  }
}

/* Custom Tailwind utility styles */
@layer utilities {
  .bg-grid {
    background-image: linear-gradient(
        to right,
        rgba(8, 5, 37, 0.8) 2px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(8, 5, 37, 0.8) 2px, transparent 1px);
    background-size: 40px 40px;
  }
}

/* Animated line styles */
.animated-line {
  animation: animated-line 5s infinite;
}

@keyframes animated-line {
  0% {
    height: 0;
    opacity: 1;
  }
  20% {
    height: 100vh;
    opacity: 0;
  }
  22% {
    height: 0vh;
  }
  100% {
    height: 0vh;
  }
}

.animated-line-w {
  animation: animated-line-w 5s infinite;
}

@keyframes animated-line-w {
  0% {
    width: 0;
    opacity: 1;
  }
  20% {
    width: 100vw;
    opacity: 0;
  }
  22% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

/* Background radial gradient */
.bg-radial-gradient {
  box-shadow: 0 0 100px 130px rgba(255, 255, 255, 0.15);
}

.cursor {
  position: fixed;
  width: 35px;
  height: 35px;
  background: url('../public/svg/cursor.svg') no-repeat center center;
  background-size: contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  transition: transform 0.1s ease;
  transform: rotate(-45deg);
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-slow-reverse {
  animation: spin-slow 20s linear infinite reverse;
}

.orange-shadow {
  box-shadow: 0 0 50px 5px rgba(255, 128, 1, 0.84);
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  /* ... */
  ul, ol {
    list-style: revert;
  }


}



@tailwind base;
@tailwind components;
@tailwind utilities;


.feature-card-hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.7);
}

@keyframes neon-glow {
  0% {
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.7);
  }
}

.feature-card-hover:hover {
  animation: neon-glow 1.5s ease-in-out infinite;
}